<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Endereços do Cliente</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100 p-6">
        <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <div th:replace="~{partials/address-modal :: addressModal}"></div>
            <h1 class="text-2xl font-bold mb-4">Endereços do Cliente</h1>
            <div th:replace="~{partials/toast :: toast}"></div>
            <div th:if="${deliveryAddresses.isEmpty()}" class="text-gray-500">
                Nenhum endereço cadastrado.
            </div>
            <div th:if="${!deliveryAddresses.isEmpty()}">
                <table class="table-auto w-full border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border border-gray-300 px-4 py-2">Rua</th>
                            <th class="border border-gray-300 px-4 py-2">Número</th>
                            <th class="border border-gray-300 px-4 py-2">Bairro</th>
                            <th class="border border-gray-300 px-4 py-2">Cidade</th>
                            <th class="border border-gray-300 px-4 py-2">Estado</th>
                            <th class="border border-gray-300 px-4 py-2">CEP</th>
                            <th class="border border-gray-300 px-4 py-2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="address : ${deliveryAddresses}">
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.street}"></td>
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.number}"></td>
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.neighborhood}"></td>
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.city}"></td>
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.state}"></td>
                            <td class="border border-gray-300 px-4 py-2" th:text="${address.zipCode}"></td>
                            <td class="border border-gray-300 px-4 py-2">
                                <div class="flex justify-center">
                                    <button type="button"
                                             th:data-id="${address.id}"
                                             th:data-street="${address.street}"
                                             th:data-number="${address.number}"
                                             th:data-neighborhood="${address.neighborhood}"
                                             th:data-city="${address.city}"
                                             th:data-state="${address.state}"
                                             th:data-zip="${address.zipCode}"
                                             class="edit-btn bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-400 mr-2">
                                        Editar
                                    </button>
                                    <button th:data-id="${address.id}" class="delete-btn bg-red-500 text-white px-4 py-2 rounded hover:bg-red-400 mr-2">Remover</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-4">
                <button class="bg-blue-500 text-white p-2 rounded float-right" onclick="openModal()">Adicionar Endereço</button>
                <a href="/customers" class="bg-gray-500 text-white p-2 rounded">Voltar</a>
                <input hidden type="text" id="id" name="id" th:value="${customer.id}"/>
            </div>
        </div>
    </body>
    <script>
        const customerId = document.getElementById('id').value;
        function openModal() {
            document.getElementById('addressModal').classList.remove('hidden');
        }

        function closeModal() {
            document.getElementById('addressModal').classList.add('hidden');
        }

        document.getElementById('addressForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const data = {};
            const formData = new FormData(this);

            formData.forEach((value, key) => {
                data[key] = value;
            });

            fetch(`/api/customers/${customerId}/addresses`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Erro ao salvar endereço');
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".delete-btn").forEach(button => {
                button.addEventListener("click", function () {
                    const addressId = this.dataset.id;
                    deleteCustomer(addressId);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".edit-btn").forEach(button => {
                button.addEventListener("click", function () {
                    const addressId = this.dataset.id;
                    const street = this.dataset.street;
                    const number = this.dataset.number;
                    const neighborhood = this.dataset.neighborhood;
                    const city = this.dataset.city;
                    const state = this.dataset.state;
                    const zipCode = this.dataset.zip;

                    document.getElementById("addressId").value = addressId;
                    document.getElementById("street").value = street;
                    document.getElementById("number").value = number;
                    document.getElementById("neighborhood").value = neighborhood;
                    document.getElementById("city").value = city;
                    document.getElementById("state").value = state;
                    document.getElementById("zipCode").value = zipCode;

                    openModal();
                });
            });
        });

        function deleteCustomer(addressId) {
            fetch(`/api/customers/addresses/${addressId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            }).then(response => {
                if (response.ok) {
                    window.location.href = `/customers/${customerId}/addresses`;
                } else {
                    showToast(response.errorMessage || 'Erro ao remover cliente');
                }
            });
        }
    </script>
</html>
