<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100 text-gray-900">
        <div th:replace="~{partials/header :: header}"></div>
        <div class="container mx-auto p-8 max-w-3xl bg-white rounded-lg shadow-md">
            <h1 class="text-3xl font-bold mb-4">Loja de Suplementos</h1>
            <ul class="space-y-4">
                <li>
                    <a href="/customers" class="block bg-white text-gray-900 text-center py-4 rounded-lg shadow-md transform hover:scale-105 transition-transform duration-200">Clientes</a>
                </li>
                <li>
                    <a href="/estoque" class="block bg-white text-gray-900 text-center py-4 rounded-lg shadow-md transform hover:scale-105 transition-transform duration-200">Estoque</a>
                </li>
                <li>
                    <a href="/orders" class="block bg-white text-gray-900 text-center py-4 rounded-lg shadow-md transform hover:scale-105 transition-transform duration-200">Pedidos</a>
                </li>
            </ul>
        </div>
    </body>
    <script th:src="@{/js/toast.js}"></script>
</html>